@mixin base-margins() {
    &__margin {
        &_x1 {
            margin: rem(10px);
        }
        &_x2 {
            margin: rem(20px);
        }
        &_left {
            margin-left: rem(10px);
            &_x2 {
                margin-left: rem(20px);
            }
            &_x3 {
                margin-left: rem(30px);
            }
        }
        &_right {
            margin-right: rem(10px);
            &_x2 {
                margin-right: rem(20px);
            }
            &_x3 {
                margin-right: rem(30px);
            }
        }
        &_top {
            margin-top: rem(10px);
            &_x2 {
                margin-top: rem(20px);
            }
            &_x3 {
                margin-top: rem(30px);
            }
        }
        &_bottom {
            margin-bottom: rem(10px);
            &_x2 {
                margin-bottom: rem(20px);
            }
            &_x3 {
                margin-bottom: rem(30px);
            }
        }
    }
}

@mixin base-paddings() {
    &__padding {
        &_x1 {
            padding: rem(10px);
        }
        &_x2 {
            padding: rem(20px);
        }
        &_left {
            padding-left: rem(10px);
            &_x2 {
                padding-left: rem(20px);
            }
            &_x3 {
                padding-left: rem(30px);
            }
        }
        &_right {
            padding-right: rem(10px);
            &_x2 {
                padding-right: rem(20px);
            }
            &_x3 {
                padding-right: rem(30px);
            }
        }
        &_top {
            padding-top: rem(10px);
            &_x2 {
                padding-top: rem(20px);
            }
            &_x3 {
                padding-top: rem(30px);
            }
        }
        &_bottom {
            padding-bottom: rem(10px);
            &_x2 {
                padding-bottom: rem(20px);
            }
            &_x3 {
                padding-bottom: rem(30px);
            }
        }
    }
}

* {
    font-size: 20px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 0;
}